# Postgres Credentials
POSTGRES_USER = ""
POSTGRES_PASSWORD = ""
POSTGRES_DB = ""

# Airflow Credentials
AIRFLOW_ADMIN_USER = ""
AIRFLOW_ADMIN_FIRSTNAME = ""
AIRFLOW_ADMIN_LASTNAME = ""
AIRFLOW_ADMIN_EMAIL = ""
AIRFLOW_ADMIN_PASSWORD = ""