# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Google credentials
credenciales_gcs.json

# Airflow
logs/
airflow.db

# Plugins
plugins/

# VS Code
.vscode/

# Mac
.DS_Store
